*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 .herader__container{
    width: 1400px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 
 